# Exercise-13

In [16]:
// //TEST CASE
// console.log(deepSum([
//   [
//     [4, 5, 6],
//     [9, 1, 2, 10],
//     [9, 4, 3]
//   ],
//   [
//     [4, 14, 31],
//     [9, 10, 18, 12, 20],
//     [1, 4, 90]
//   ],
//   [
//     [2, 5, 10],
//     [3, 4, 5],
//     [2, 4, 5, 10]
//   ]
// ])); // 316

// console.log(deepSum([
//   [
//     [20, 10],
//     [15],
//     [1, 1]
//   ],
//   [
//     [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
//     [2],
//     [9, 11]
//   ],
//   [
//     [3, 5, 1],
//     [1, 5, 3],
//     [1]
//   ],
//   [
//     [2]
//   ]
// ])); // 156

// console.log(deepSum([])); // No number

In [14]:
function deepSum (arr) {
    if(arr.length==0){return 'No number'}
    var sum = 0
    for(let i=0; i<arr.length; i++){
        for(let j=0; j<arr[i].length; j++){
            for(let k=0; k<arr[i][j].length; k++){
                sum += arr[i][j][k]
            }
        }
    }
    return sum
}

In [3]:
var arr = [
  [
    [4, 5, 6],
    [9, 1, 2, 10],
    [9, 4, 3]
  ],
  [
    [4, 14, 31],
    [9, 10, 18, 12, 20],
    [1, 4, 90]
  ],
  [
    [2, 5, 10],
    [3, 4, 5],
    [2, 4, 5, 10]
  ]
]

In [9]:
arr.length

3

In [10]:
var sum = 0
for(let i=0; i<arr.length; i++){
    for(let j=0; j<arr[i].length; j++){
        for(let k=0; k<arr[i][j].length; k++){
            sum += arr[i][j][k]
        }
    }
}

316

In [11]:
sum

316

In [15]:
//TEST CASE
console.log(deepSum([
  [
    [4, 5, 6],
    [9, 1, 2, 10],
    [9, 4, 3]
  ],
  [
    [4, 14, 31],
    [9, 10, 18, 12, 20],
    [1, 4, 90]
  ],
  [
    [2, 5, 10],
    [3, 4, 5],
    [2, 4, 5, 10]
  ]
])); // 316

console.log(deepSum([
  [
    [20, 10],
    [15],
    [1, 1]
  ],
  [
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    [2],
    [9, 11]
  ],
  [
    [3, 5, 1],
    [1, 5, 3],
    [1]
  ],
  [
    [2]
  ]
])); // 156

console.log(deepSum([])); // No number

316
156
No number

_____________

# Exercise-14

In [17]:
// //TEST CASE
// console.log(naikAngkot([['Dimitri', 'B', 'F'], ['Icha', 'A', 'B']]));
// // [ { penumpang: 'Dimitri', naikDari: 'B', tujuan: 'F', bayar: 8000 },
// //   { penumpang: 'Icha', naikDari: 'A', tujuan: 'B', bayar: 2000 } ]

// console.log(naikAngkot([])); //[]

In [33]:
function abs(num){
    if(num<0){return num*-1}
    return num
}

function naikAngkot(arrPenumpang) {
    var rute = ['A', 'B', 'C', 'D', 'E', 'F'];
    var resultobj_arr = []
    for(let i=0; i<arrPenumpang.length; i++){
        var obj_temp = {}
        obj_temp['penumpang'] = arrPenumpang[i][0]
        obj_temp['naikDari'] = arrPenumpang[i][1]
        obj_temp['tujuan'] = arrPenumpang[i][2]
        resultobj_arr.push(obj_temp)
    }
    for(let i=0; i<resultobj_arr.length; i++){
        for(let j=0; j<rute.length; j++){
            if(resultobj_arr[i].naikDari==rute[j]){
                var naik_idx = j
            }
            if(resultobj_arr[i].tujuan==rute[j]){
                var tujuan_idx = j
            }
        }
        var bayar = abs(tujuan_idx-naik_idx)*2000
        resultobj_arr[i]['bayar'] = bayar
    }
    return resultobj_arr
}

In [24]:
var arrPenumpang = [['Dimitri', 'B', 'F'], ['Icha', 'A', 'B']]
var rute = ['A', 'B', 'C', 'D', 'E', 'F']

In [25]:
var resultobj_arr = []
for(let i=0; i<arrPenumpang.length; i++){
    var obj_temp = {}
    obj_temp['penumpang'] = arrPenumpang[i][0]
    obj_temp['naikDari'] = arrPenumpang[i][1]
    obj_temp['tujuan'] = arrPenumpang[i][2]
    resultobj_arr.push(obj_temp)
}

2

In [28]:
resultobj_arr

[ { penumpang: 'Dimitri', naikDari: 'B', tujuan: 'F' },
  { penumpang: 'Icha', naikDari: 'A', tujuan: 'B' } ]

In [29]:
for(let i=0; i<resultobj_arr.length; i++){
    for(let j=0; j<rute.length; j++){
        if(resultobj_arr[i].naikDari==rute[j]){
            var naik_idx = j
        }
        if(resultobj_arr[i].tujuan==rute[j]){
            var tujuan_idx = j
        }
    }
    var bayar = abs(tujuan_idx-naik_idx)*2000
    resultobj_arr[i]['bayar'] = bayar
}

2000

In [30]:
resultobj_arr

[ { penumpang: 'Dimitri', naikDari: 'B', tujuan: 'F', bayar: 8000 },
  { penumpang: 'Icha', naikDari: 'A', tujuan: 'B', bayar: 2000 } ]

In [34]:
//TEST CASE
console.log(naikAngkot([['Dimitri', 'B', 'F'], ['Icha', 'A', 'B']]));
// [ { penumpang: 'Dimitri', naikDari: 'B', tujuan: 'F', bayar: 8000 },
//   { penumpang: 'Icha', naikDari: 'A', tujuan: 'B', bayar: 2000 } ]

console.log(naikAngkot([])); //[]

[ { penumpang: 'Dimitri', naikDari: 'B', tujuan: 'F', bayar: 8000 },
  { penumpang: 'Icha', naikDari: 'A', tujuan: 'B', bayar: 2000 } ]
[]

______________

# Exercise-15

In [35]:
// // TEST CASE
// console.log(highestScore([
//   {
//     name: 'Dimitri',
//     score: 90,
//     class: 'foxes'
//   },
//   {
//     name: 'Alexei',
//     score: 85,
//     class: 'wolves'
//   },
//   {
//     name: 'Sergei',
//     score: 74,
//     class: 'foxes'
//   },
//   {
//     name: 'Anastasia',
//     score: 78,
//     class: 'wolves'
//   }
// ]));

// // {
// //   foxes: { name: 'Dimitri', score: 90 },
// //   wolves: { name: 'Alexei', score: 85 }
// // }


// console.log(highestScore([
//   {
//     name: 'Alexander',
//     score: 100,
//     class: 'foxes'
//   },
//   {
//     name: 'Alisa',
//     score: 76,
//     class: 'wolves'
//   },
//   {
//     name: 'Vladimir',
//     score: 92,
//     class: 'foxes'
//   },
//   {
//     name: 'Albert',
//     score: 71,
//     class: 'wolves'
//   },
//   {
//     name: 'Viktor',
//     score: 80,
//     class: 'tigers'
//   }
// ]));

// // {
// //   foxes: { name: 'Alexander', score: 100 },
// //   wolves: { name: 'Alisa', score: 76 },
// //   tigers: { name: 'Viktor', score: 80 }
// // }


// console.log(highestScore([])); //{}

In [51]:
function highestScore (students) {
    var result = {}
    for(let i=0; i<students.length; i++){
        for(let key in students[i]){
            if(key=='class'){
                result[students[i][key]] = {name:'', score:0}
            }
        }
    }
    for(let i=0; i<students.length; i++){
        for(let key in result){
            if(key==students[i].class){
                if(result[key].score<students[i].score){
                    result[key].name = students[i].name
                    result[key].score = students[i].score
                }
            }
        }
    }
    return result
}

In [36]:
var students = [
  {
    name: 'Alexander',
    score: 100,
    class: 'foxes'
  },
  {
    name: 'Alisa',
    score: 76,
    class: 'wolves'
  },
  {
    name: 'Vladimir',
    score: 92,
    class: 'foxes'
  },
  {
    name: 'Albert',
    score: 71,
    class: 'wolves'
  },
  {
    name: 'Viktor',
    score: 80,
    class: 'tigers'
  }
]

In [37]:
students

[ { name: 'Alexander', score: 100, class: 'foxes' },
  { name: 'Alisa', score: 76, class: 'wolves' },
  { name: 'Vladimir', score: 92, class: 'foxes' },
  { name: 'Albert', score: 71, class: 'wolves' },
  { name: 'Viktor', score: 80, class: 'tigers' } ]

In [46]:
var result = {}
for(let i=0; i<students.length; i++){
    for(let key in students[i]){
        if(key=='class'){
            result[students[i][key]] = {name:'', score:0}
        }
    }
}

{ name: '', score: 0 }

In [47]:
result

{ foxes: { name: '', score: 0 },
  wolves: { name: '', score: 0 },
  tigers: { name: '', score: 0 } }

In [49]:
for(let i=0; i<students.length; i++){
    for(let key in result){
        if(key==students[i].class){
            if(result[key].score<students[i].score){
                result[key].name = students[i].name
                result[key].score = students[i].score
            }
        }
    }
}

80

In [50]:
result

{ foxes: { name: 'Alexander', score: 100 },
  wolves: { name: 'Alisa', score: 76 },
  tigers: { name: 'Viktor', score: 80 } }

In [52]:
console.log(highestScore([
  {
    name: 'Dimitri',
    score: 90,
    class: 'foxes'
  },
  {
    name: 'Alexei',
    score: 85,
    class: 'wolves'
  },
  {
    name: 'Sergei',
    score: 74,
    class: 'foxes'
  },
  {
    name: 'Anastasia',
    score: 78,
    class: 'wolves'
  }
]));

// {
//   foxes: { name: 'Dimitri', score: 90 },
//   wolves: { name: 'Alexei', score: 85 }
// }

{ foxes: { name: 'Dimitri', score: 90 },
  wolves: { name: 'Alexei', score: 85 } }

In [53]:
console.log(highestScore([
  {
    name: 'Alexander',
    score: 100,
    class: 'foxes'
  },
  {
    name: 'Alisa',
    score: 76,
    class: 'wolves'
  },
  {
    name: 'Vladimir',
    score: 92,
    class: 'foxes'
  },
  {
    name: 'Albert',
    score: 71,
    class: 'wolves'
  },
  {
    name: 'Viktor',
    score: 80,
    class: 'tigers'
  }
]));

// {
//   foxes: { name: 'Alexander', score: 100 },
//   wolves: { name: 'Alisa', score: 76 },
//   tigers: { name: 'Viktor', score: 80 }
// }

{ foxes: { name: 'Alexander', score: 100 },
  wolves: { name: 'Alisa', score: 76 },
  tigers: { name: 'Viktor', score: 80 } }

In [54]:
console.log(highestScore([])); //{}

{}

_______________

# Exercise-16

In [55]:
// TEST CASE
// console.log(graduates([
//   {
//     name: 'Dimitri',
//     score: 90,
//     class: 'foxes'
//   },
//   {
//     name: 'Alexei',
//     score: 85,
//     class: 'wolves'
//   },
//   {
//     name: 'Sergei',
//     score: 74,
//     class: 'foxes'
//   },
//   {
//     name: 'Anastasia',
//     score: 78,
//     class: 'wolves'
//   }
// ]));

// // {
// //   foxes: [
// //     { name: 'Dimitri', score: 90 }
// //   ],
// //   wolves: [
// //     { name: 'Alexei' , score: 85 },
// //     { name: 'Anastasia', score: 78 }
// //   ]
// // }

// console.log(graduates([
//   {
//     name: 'Alexander',
//     score: 100,
//     class: 'foxes'
//   },
//   {
//     name: 'Alisa',
//     score: 76,
//     class: 'wolves'
//   },
//   {
//     name: 'Vladimir',
//     score: 92,
//     class: 'foxes'
//   },
//   {
//     name: 'Albert',
//     score: 71,
//     class: 'wolves'
//   },
//   {
//     name: 'Viktor',
//     score: 80,
//     class: 'tigers'
//   }
// ]));

// // {
// //   foxes: [
// //     { name: 'Alexander', score: 100 },
// //     { name: 'Vladimir', score: 92 }
// //   ],
// //   wolves: [
// //     { name: 'Alisa', score: 76 },
// //   ],
// //   tigers: [
// //     { name: 'Viktor', score: 80 }
// //   ]
// // }


// console.log(graduates([])); //{}

In [72]:
function graduates (students) {
    var result = {}
    for(let i=0; i<students.length; i++){
        for(let key in students[i]){
            if(key=='class'){
                result[students[i][key]] = []
            }
        }
    }
    for(let i=0; i<students.length; i++){
        for(let key in result){
            if(students[i].score>75 && key==students[i].class){
                var temp = {name:students[i].name, score:students[i].score}
                result[key].push(temp)
            }
        }
    }
    for(let key in result){
        if(result[key].length==0){
            delete result[key]
        }
    }
    return result
}

In [57]:
var students = [
  {
    name: 'Alexander',
    score: 100,
    class: 'foxes'
  },
  {
    name: 'Alisa',
    score: 76,
    class: 'wolves'
  },
  {
    name: 'Vladimir',
    score: 92,
    class: 'foxes'
  },
  {
    name: 'Albert',
    score: 71,
    class: 'wolves'
  },
  {
    name: 'Viktor',
    score: 80,
    class: 'tigers'
  }
]

In [63]:
students

[ { name: 'Alexander', score: 100, class: 'foxes' },
  { name: 'Alisa', score: 76, class: 'wolves' },
  { name: 'Vladimir', score: 92, class: 'foxes' },
  { name: 'Albert', score: 71, class: 'wolves' },
  { name: 'Viktor', score: 80, class: 'tigers' } ]

In [64]:
var result = {}
for(let i=0; i<students.length; i++){
    for(let key in students[i]){
        if(key=='class'){
            result[students[i][key]] = []
        }
    }
}

[]

In [65]:
result

{ foxes: [], wolves: [], tigers: [] }

In [66]:
for(let i=0; i<students.length; i++){
    for(let key in result){
        if(students[i].score>75 && key==students[i].class){
            var temp = {name:students[i].name, score:students[i].score}
            result[key].push(temp)
        }
    }
}

1

In [68]:
result['wew'] = []

[]

In [71]:
result

{ foxes:
   [ { name: 'Alexander', score: 100 },
     { name: 'Vladimir', score: 92 } ],
  wolves: [ { name: 'Alisa', score: 76 } ],
  tigers: [ { name: 'Viktor', score: 80 } ] }

In [70]:
for(let key in result){
    if(result[key].length==0){
        delete result[key]
    }
}

true

In [73]:
console.log(graduates([
  {
    name: 'Dimitri',
    score: 90,
    class: 'foxes'
  },
  {
    name: 'Alexei',
    score: 85,
    class: 'wolves'
  },
  {
    name: 'Sergei',
    score: 74,
    class: 'foxes'
  },
  {
    name: 'Anastasia',
    score: 78,
    class: 'wolves'
  }
]));

// {
//   foxes: [
//     { name: 'Dimitri', score: 90 }
//   ],
//   wolves: [
//     { name: 'Alexei' , score: 85 },
//     { name: 'Anastasia', score: 78 }
//   ]
// }

{ foxes: [ { name: 'Dimitri', score: 90 } ],
  wolves:
   [ { name: 'Alexei', score: 85 },
     { name: 'Anastasia', score: 78 } ] }

In [75]:
console.log(graduates([
  {
    name: 'Alexander',
    score: 100,
    class: 'foxes'
  },
  {
    name: 'Alisa',
    score: 76,
    class: 'wolves'
  },
  {
    name: 'Vladimir',
    score: 92,
    class: 'foxes'
  },
  {
    name: 'Albert',
    score: 71,
    class: 'wolves'
  },
  {
    name: 'Viktor',
    score: 80,
    class: 'tigers'
  }
]));

// {
//   foxes: [
//     { name: 'Alexander', score: 100 },
//     { name: 'Vladimir', score: 92 }
//   ],
//   wolves: [
//     { name: 'Alisa', score: 76 },
//   ],
//   tigers: [
//     { name: 'Viktor', score: 80 }
//   ]
// }

{ foxes:
   [ { name: 'Alexander', score: 100 },
     { name: 'Vladimir', score: 92 } ],
  wolves: [ { name: 'Alisa', score: 76 } ],
  tigers: [ { name: 'Viktor', score: 80 } ] }

In [76]:
console.log(graduates([])); //{}

{}